<ul class="nav nav-pills">
	<li class="active"><a href="#">Regular link</a></li>
	<li class="dropdown">
		<a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Parser <b class="caret"></b></a>
		<ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
			<li>
				<%= link_to "Championats", {:controller => "admin", :action => "championat" }, :tabindex => '-1' %>
			</li>
			<li class="divider"></li>
			<li>
				<%= link_to "Catégories", {:controller => "admin", :action => "category" }, :tabindex => '-1' %>
			</li>
		</ul>
	</li>
	<li class="dropdown">
		<a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#">Dropdown 2 <b class="caret"></b></a>
		<ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
			<li><a tabindex="-1" href="#">Action</a></li>
			<li><a tabindex="-1" href="#">Another action</a></li>
			<li><a tabindex="-1" href="#">Something else here</a></li>
			<li class="divider"></li>
			<li><a tabindex="-1" href="#">Separated link</a></li>
		</ul>
	</li>
</ul>