/* ----- BASE ----
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #418CD1;
@PRIMARYLIGHTCOLOR:		#529DE2;
@PRIMARYBORDER:			#C8DDF1;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282e31;
@SPECIALLIGHTBG:		#3f484d;
@SPECIALBORDER:		    #4a555b;
@SPECIALCOLOR:			#89aa38;

@FADEHEADINGCOLOR:      #BBBBBB;

*/
/* ----- ORANGE VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #ba4a22;
@PRIMARYLIGHTCOLOR:		#ce552a;
@PRIMARYBORDER:			#d86634;


@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;
*/
/* ----- RED VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #9C423B;
@PRIMARYLIGHTCOLOR:		#A34A43;
@PRIMARYBORDER:			#B0534C;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;
*/
/* ----- PURPLE VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #5E4975;
@PRIMARYLIGHTCOLOR:		#6E5985;
@PRIMARYBORDER:			#796391;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;

*/
/* ----- Light GREEN VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;


@PRIMARYCOLOR:          #8ea33e;
@PRIMARYLIGHTCOLOR:		#a2b653;
@PRIMARYBORDER:			#afbd59;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;
*/
/* ----- GREEN VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #578035;
@PRIMARYLIGHTCOLOR:		#769b4c;
@PRIMARYBORDER:			#82A352;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;
*/
/* ----- LIGHT RED VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #ba3c2c;
@PRIMARYLIGHTCOLOR:		#c64535;
@PRIMARYBORDER:			#d25141;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;
*/
/* ----- LIGHT ORANGE VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;


@PRIMARYCOLOR:          #E78600;
@PRIMARYLIGHTCOLOR:		#F0900C;
@PRIMARYBORDER:			#F79A19;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;

*/
/* ----- BLUE VERSION ----  
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #3275b1;
@PRIMARYLIGHTCOLOR:		#3885ba;
@PRIMARYBORDER:			#4097c3;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;

*/
/* ----- SUBTLE BLUE VERSION ---- 
@BODYBG:                #FBFBFB;
@COLOR:                 #444444;

@DARKBG:                #F1F1F1;
@DARKERBG:              #393F42;
@DARKESTBG:             #2F3335;
@DARKCOLOR:             #999999;
@DARKBORDER:			#3B3E41;
@DARKTITLECOLOR:        #F6F6F6;

@PRIMARYCOLOR:          #5895A1; //#32B0C9;
@PRIMARYLIGHTCOLOR:		#6DA7B3;//#3BBED9;
@PRIMARYBORDER:			#75B1BD; //#51C4DB;

@LIGHTBG:  				#DDDDDD;
@LIGHTERBG:				#EEEEEE;
@LIGHTESTBG:			#F9F9F9;
@LIGHTCOLOR:			#333333;
@LIGHTBORDER:			#D6D6D6; 
@LIGHTERBORDER:         #EFEFEF;
@LIGHTERCOLOR:          #666666;
@LIGHTESTCOLOR:       	#FFFFFF;

@LIGHTERBORDER:			#E7ECEE;
@LIGHTSHADOW:           rgba(0, 0, 0, 0.1);


@SPECIALBG:		    	#282E31;
@SPECIALLIGHTBG:		#3F484D;
@SPECIALBORDER:		    #4A555B;
@SPECIALCOLOR:			#89AA38;

@FADEHEADINGCOLOR:      #BBBBBB;
 
*/
/* ----- Subtle  GREEN VERSION ---- */