<div class="row">
	<section class="main-section">
		<div class="breadcrumbs">
			<a href="index.html">Home</a>/<a>Cours</a>                        
		</div>
	</section>
</div>
<div class="row">
			 
<div class="content style2">			
	  <div class="span8">
		  <article>
		  <h3 class="excerpt_title">Créer des migrations<a href="#" class="no_comments right"><span>24</span></a></h3>
		  
		  <div class="thumb left">
		  	<%= image_tag 'slide1.jpg' %>
		  </div>
		  
		   	<p class="excerpt right">
		   		
		   		Pour generer automatiquement un nouveau model :
		   		<br />
		   		Ce que la commande execute :
<br />
rails g model User username:string birthdate:integer
<br />
invoke  active_record<br />
create    db/migrate/20121122091311_create_users.rb<br />
create    app/models/user.rb<br />
invoke    test_unit<br />
create      test/unit/user_test.rb<br />
create      test/fixtures/users.yml<br />

		   		<a href="single.html" class="button small readmore">Read More</a>
		   	</p>
		   	<p class="date left">
		   	  Posted on <i class="icon-time"></i><a href="#"> 24, October,12</a>
		   	  </p>
		   	<p class="category left">
		   	in Category <i class="icon-tags"></i> <a href="#">Creative</a>,<a href="#">animation</a>
		   	</p>
		   	  
		   	<div class="meta"> <span class="left">TAGS:</span>
		   		<a href="archive.html"> Tag1</a>
		   		<a href="archive.html"> Tag2</a>
		   		<a href="archive.html"> Tag3</a>
		   	</div>
		  </article>
	  </div>
	</div>
</div>