<div class="row">
	<section class="main-section">
		<div class="breadcrumbs">
			<a href="index.html">Home</a>/<a>Cours</a>                        
		</div>
		<div class="row">
					<!-- BEGIN Page Content -->
			<div class="content">		
			
				<div class="span8">
					<h3 class="post_title">Créer un projet Rails<a href="#" class="no_comments right"><span>24</span></a></h3>
					<p class="date left">
					 	Posted on <i class="icon-time"></i><a href="#"> 24, October,12</a>
					 </p>
					<p class="category left">
						in Category <i class="icon-tags"></i> <a href="#">Creative</a>,<a href="#">animation</a>
					</p>
					<br class="clearfix" />
					<br class="clearfix" />
					<p><span class="dropcap">L</span>orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</p>
					<p>
				   		Pour generer automatiquement un nouveau Full Stack (scaffold) :
				   		<br />
<pre>
rails generate scaffold Page
</pre>
				   		Pour generer automatiquement un nouveau controller :
				   		<br />
<pre>
rails generate controller Pages
</pre>
				   		Pour generer automatiquement un nouveau model :
				   		<br />
<pre>
rails g model User username:string birthdate:integer
</pre>
				   		Ce que la commande execute :
						<br />
<pre lang="ruby">
invoke    active_record
create    db/migrate/20121122091311_create_users.rb
create    app/models/user.rb
invoke    test_unit
create    test/unit/user_test.rb
create    test/fixtures/users.yml
</pre>
						<br />
						<br />
						Recuperer les parametres ou emettre des paramétre à partir d'un lien :
<pre>
params.inspect


&alt;= link_to 'Params avec liste', params_path({:ids => ['1', '3']}) &glt;
&alt;= link_to 'Params avec ID', params_path({:id => 1 }) &glt;
</pre>

					
					</p>
				</div>
			</div>
		</div>
	</section>
</div>