<div class="container">
 	<div class="row">
		<section class="main-section">
			<div class="breadcrumbs">
				<a href="index.html">Project</a>/<a>Equipe</a>                        
			</div>
			<div class="tagline">
                <h3 class="regular-size left">Notre equipe</h3>
                <h6 class="subheader">Après avoir passé 4 ans dans les mêmes infrastructures nous nous sommes réunie afin de mettre en commun nos compétences uniques !</h6>
			</div>
		  		
		  	      	    
		<div class="row">
				<!-- BEGIN Page Content -->
		  <div class="content">		
			 <div class="span4">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team1.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Loic Goaper</span>
			 			<small class="position">Chef de projet, Web</small>
			 		</h4>
			 		<div class="text">
			 			<p style="text-align: justify">Après plusieurs années dans le développement web et de toute c'est aspérités, j'ai eu l'occasion de travailler sur ce projet.
		 					<ul class="social">
		 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
		 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
		 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
		 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
		 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
		 		 			</ul>
			 		 	</p>			
			 		</div> 							
			 	</div>
			 </div>
			 <div class="span4 fix_margin">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team2.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Adrien Corini</span>
			 			<small class="position">Developper, Mobile</small>
			 		</h4>
			 		<div class="text"><p>Je suis depuis des année un bizu qui aime circuler en caddy surtout apres quelque verre de rouge devant un match de Handball Féminin ! 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			 <div class="span4 fix_margin">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team3.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Antoine Fournier</span>
			 			<small class="position">Developper, Web</small>
			 		</h4>
			 		<div class="text"><p>La participation à ce projet m'a ouvert de nouvelles perspectives notamment dans le web développement et à la gestion des base de donnée. 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			</div> 
			<!-- END Page Content -->
		</div>	  		
	 </section>	
	</div>	
</div>