<div class="container">
 	<div class="row">
		<section class="main-section">
			<div class="breadcrumbs">
				<a href="index.html">Project</a>/<a>Equipe</a>                        
			</div>
			<div class="tagline">
                <h3 class="regular-size left">Notre equipe</h3>
                <h6 class="subheader">Après avoir passé 4 ans dans les mêmes infrastructures nous nous sommes réunie afin de mettre en commun nos compétences uniques !</h6>
			</div>
		  		
		  	      	    
		<div class="row">
				<!-- BEGIN Page Content -->
		  <div class="content">		
			 <div class="span4">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team1.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Loic Goaper</span>
			 			<small class="position">Chef de projet, Rails</small>
			 		</h4>
			 		<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			 <div class="span4 fix_margin">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team2.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Adrien Corini</span>
			 			<small class="position">Bizu, iOS</small>
			 		</h4>
			 		<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			 <div class="span4 fix_margin">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team3.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Bruce Wayne</span>
			 			<small class="position">Cofounder, CMO</small>
			 		</h4>
			 		<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			</div> 
			<!-- END Page Content -->
		</div>	  		
	 </section>	
	</div>	
</div>