<div class="container">
 	<div class="row">
		<section class="main-section">
			<div class="breadcrumbs">
				<a href="index.html">Home</a>/<a>About TEAM</a>                        
			</div>
			<div class="tagline">
				                        <h3 class="regular-size left">Meet our Team</h3>
				                        <h6 class="subheader">We're a bunch on enthusiastic folks who love design. We're just crazy about creating new stuff everyday.</h6>
			</div>
		  		
		  	      	    
		<div class="row">
				<!-- BEGIN Page Content -->
		  <div class="content">		
			 <div class="span4">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team1.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Elena Markovitch</span>
			 			<small class="position">Cofounder, CEO</small>
			 		</h4>
			 		<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			 <div class="span4 fix_margin">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team2.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Ryan Phadnis</span>
			 			<small class="position">Cofounder, CTO</small>
			 		</h4>
			 		<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			 <div class="span4 fix_margin">
			 	<div class="person">
			 		<div class="photo">
			 			<img src="img/team3.jpg" alt="">
			 		</div>
			 		<h4 class="identity">
			 			<span class="name">Bruce Wayne</span>
			 			<small class="position">Cofounder, CMO</small>
			 		</h4>
			 		<div class="text"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
			 					<ul class="social">
			 		 				<li><a href="http://facebook.com" title="Facebook" class="sfacebook"></a></li>
			 		 				<li><a href="http://www.twitter.com" title="Facebook" class="stwitter"></a></li>
			 		 				<li><a href="http://pinterest.com" title="Facebook" class="spinterest"></a></li>
			 		 				<li><a href="http://google.com" title="Facebook" class="sgplus"></a></li>
			 		 				<li><a href="http://rss.com" title="Facebook" class="srss"></a></li>
			 		 			</ul></p>			
			 		</div> 							
			 	</div>
			 </div>
			</div> 
			<!-- END Page Content -->
		</div>	  		
	 </section>	
	</div>	
</div>