<div class="container">
<div class="row">
	<section class="main-section">
		<div class="breadcrumbs">
			<a href="/parser">Parser</a>/<a>Accueil</a>                        
		</div>
		<h2 class="page_title">Selectionner votre équipe</h2>
	<div class="row">
		<div class="content">
			<div class="span12">
				<div class="accordion-group">
					<div class="accordion-heading">
					  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseone">
					     Ajouter une catégorie <i class="right icon-chevron-down"></i>
					  </a>
					</div>
					<div id="collapseone" class="accordion-body collapse">
					  <div class="accordion-inner">
					  	<%= render "parser/formadd" %>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div class="row">
		<div class="content">
			<!-- BEGIN Portfolio ROW-->  		
			<div class="portfolioarea">
				<h3 class="title"><span>Championnats nationaux</span></h3>
			 	<div class="portfolio_carousel flexslider">
			 	  <ul class="slides">
			 	    <% @c.each do |c| %>
			 	    <li>
			 	      <div class="portfolioitem">
			 	      	<div class="portfolio_thumb">
			 	      	  <%= link_to image_tag('hand_wall.jpg'), {:controller => "parser", :action => "viewcat", :catId => c['id'] }, :class => 'hover_fade_in' %>
			 	      	</div>
			 	      	<h4 class="portfolio_title"> <%= c['name'] %>
			 	      	<small class="categories">Nationaux / <%= c['name'] %></small></h4>
			 	      	</div>
			 	    </li>
			 	    <% end %>
			 	  </ul>
			 	</div>
			 	
			</div> 
			<!-- END PROJECTS AREA -->
		</div>
	</div> 
 </section>	
</div>
</div>